img {
   width: 100px;
   height: 100px;
  border-radius: 10px;
}

.profilePreview {
    display: flex;
    align-items: center;
}

.profilePreview > * {
    margin-right: 19px;
}

body {
   margin: 100px !important
}

.avatars > div {
   display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}
